.nav-options {
    position : relative;
    /* outline : 1px solid black; */

    display: flex;
    flex-direction: column;

    width : 90%;
    left : 5%;
    top : 30%;

    color : black;
    font-size: larger;

    /* align-items: left; */

}

.nav-title {
    /* outline : 1px solid green; */
    text-align: left;
    width : 100%;

    cursor :default;
}

.about-me-link {
    /* outline : 1px solid green; */
    text-align: left;
    margin-left : 10%;
    width : 60%;
    transition : transform 0.1s ease-in;
    cursor : pointer;
}

.projects-link {
    /* outline : 1px solid green; */
    text-align: left;
    margin-left : 10%;
    width : 60%;
    transition : transform 0.1s ease-in;
    cursor : pointer;
}

.blog-link {
    /* outline : 1px solid green; */
    text-align: left;
    margin-left : 10%;
    width : 60%;
    transition : transform 0.1s ease-in;
    cursor : pointer;
}

.philosophy-link {
    /* outline : 1px solid green; */
    text-align: left;
    margin-left : 10%;
    width : 60%;
    transition : transform 0.1s ease-in;
    cursor : pointer;
}

.about-me-link:hover, .projects-link:hover, .blog-link:hover, .philosophy-link:hover {
    transform : scale(1.1);
}